<div class="body">
    <h1>商家管理櫃檯登入</h1>
    <div class="wrap">
        <%= form_for '', url: '/login' do %>
        <input type="email" name="email" placeholder="請輸入帳號">
        <p>記住我</p>
        <input type="password" name="password" placeholder="請輸入密碼">

        <input type="submit" name="submit" value="登入">
        <% end %>


    </div>
</div>