<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="normalize.css">
    <style>
        .wrap {
            display: flex;
            justify-content: space-between;
        }

        .logo img {
            width: 100px;
            height: 40px;
            padding: 10px;
        }

        nav {
            display: flex;
        }

        .menu nav a {
            padding: 10px;
            text-decoration: none;
            color: #888;
        }

        nav a:hover {
            color: deeppink;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <div class="logo">
            <a href="#"><img src="https://img.inmywordz.com/uploads/20170522210649_17.jpg"></a>
        </div>

        <div class="menu">
            <nav>
                <a href="#">首頁</a>
                <a href="#">信箱</a>
                <a href="#">新聞</a>
                <a href="#">股市</a>
                <a href="#">氣象</a>
                <a href="#">運動</a>
                <a href="#">Yahoo TV</a>
                <a href="#">娛樂</a>
                <a href="#">購物中心</a>
                <a href="#">商城</a>
                <a href="#">拍賣</a>
            </nav>
        </div>
    </div>
</body>

</html>